<section class="" id="about">
    <div class="container">
        <div class="row">
		<div class="metadata col-3-4">
			<h2 class="subtitle text-blue">Scientific Metadata for {{template_data.brandName}}</h2>
			<div class="row">
			   <div class="specifications col-1-4">
				<h5><svg class="icon"><use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#icon-equation"></use></svg>Governing Equations</h5>
				<ul class="tags">
				    <li>{{template_data.GoverningEquations}}</li>
				</ul>
			   </div>

			   <div class="specifications col-1-4">
				<h5><svg class="icon"><use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#icon-pencil"></use></svg>Steady or Unsteady</h5>
				{% if template_data.SteadyUnsteady %}
				<ul class="tags">
				    <li>{{template_data.SteadyUnsteady}}</li>
				</ul>
				{% endif%}
			   </div>

			   <div class="specifications col-1-4">
				<h5><svg class="icon"><use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#icon-pencil"></use></svg>Spatial Discretisation Scheme</h5>
				{% if template_data.SpatialDiscretisationScheme %}
				<ul class="tags">
				    <li>{{template_data.SpatialDiscretisationScheme}}</li>
				</ul>
				{% endif%}
			   </div>

			   <div class="specifications col-1-4">
				<h5><svg class="icon"><use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#icon-pencil"></use></svg>Grid System</h5>
				{% if template_data.GridSystem %}
				<ul class="tags">
				    <li>{{template_data.GridSystem}}</li>
				</ul>
				{% endif%}
			   </div>

			   <div class="specifications col-1-4">

				{% if template_data.fluidSolvers %}
				<div class="read-more">
				    <div class="read-more_content" style="height:0;">
					<h5><svg class="icon"><use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#icon-pencil"></use></svg>Fluid density definition</h5>
					<ul class="tags">
					    <li>{{template_data.fluidSolvers.FluidDensityDefinition}}</li>
					</ul>

					<h5><svg class="icon"><use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#icon-pencil"></use></svg>Pressure-velocity coupling</h5>
					{% if template_data.fluidSolvers.PressureVelocityCoupling %}
					<ul class="tags">
					    {% for pvc in template_data.fluidSolvers.PressureVelocityCoupling %}
						<li>{{pvc}}</li>
					    {% endfor %}
					</ul>
				       {% endif%}

				    </div>

				    <div class="read-more_button button button--outlined">
					<span><svg class="icon"><use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#icon-plus"></use></svg></span>
					<span class="button_text">Fluid Solvers</span>
				    </div>
				</div>
				{% endif %}

			    </div>
			</div>
		</div>

            <div class="metadata specifications col-1-4">
                <h2 class="subtitle text-blue">Administrative Metadata</h2>
                <h5><svg class="icon"><use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#icon-key"></use></svg>Code Access</h5>
                {% if template_data.codeAccess %}
                <ul class="tags">
                        <li>{{template_data.codeAccess}}</li>
                </ul>
                {% endif%}


                <h5>
		    <svg class="icon"><use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#icon-paperclip"></use></svg>
                    <a href="{{template_data.userGuide}}" target="_blank">User guide/Manual</a>
                </h5>
                <ul>
                    <li><a href="{{template_data.userGuide}}" target="_blank">{{template_data.userGuide}}</a></li>
                </ul>

                <h5><svg class="icon"><use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#icon-paperclip"></use></svg>License</h5>
                <ul class="licenses">
                    {% for license in template_data.license %}
                    <li>{{license}}</li>
                    {% endfor %}
                </ul>

                {% if template_data.repositoryURLs.github | length >= 1 %}
                <h5><svg class="icon"><use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#source-code"></use></svg>Source code</h5>
                <ul class="githublogo">
                    <li>
                        <a href="{{template_data.repositoryURLs.github[0]}}" target="_blank">
                            <img src="/static/icons/github-logo.png" >
                        </a>
                    </li>
                </ul>
                {% endif%}
            </div>
        </div>
    </div>
</section>
