<section class="" id="introduction">
    <div class="container">
        <div class="row">
            <div class="col col-3-4">
                {% if template_data.brandName %}
                <h1 class="title name">{{template_data.brandName}}</h1>
                {% endif %}
            <div class="specifications col-1-4">
                <h5><svg class="icon"><use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#icon-tag"></use></svg>Code Base</h5>
                {% if template_data.codeBase %}
                <ul class="tags">
                        <li class="bg-light">{{template_data.codeBase}}</li>
                </ul>
                {% endif%}


                <h5><svg class="icon"><use xlink:href="{{url_for('static', filename='icons/icons.svg')}}#icon-brackets"></use></svg>Parent Solver</h5>
                <ul class="languages">
                        <li>{{template_data.parentSolver}}</li>
                </ul>

            </div> 
           </div>

           <div class="col col-1-4">
                <div class="highlight-data">
                    {% if template_data.related.mentions %}
                        <div class="data">
                            <div class="num">{{ template_data.related.mentions | length }}</div>
                            <div class="text">{{ 'mentions' if template_data.related.mentions | length >1 else 'mention' }}</div>
                        </div>
                    {% endif %}
                    <div class="data">
                        <div class="num">{{ template_data.contributors | length }}</div>
                        <div class="text">{{ 'contributors' if template_data.contributors | length >1 else 'contributor' }}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
